* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/************************************Navbar*************************************************/
#navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  padding: 0 1em 0 5em;
  color: #343434;
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: white;
}
#logo {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
}
#logo::before {
  content: "";
  position: absolute;
  width: 1.2em;
  height: 1.1em;
  top: 0.1em;
  left: -0.2em;
  background-color: #ffd451;
  z-index: -1;
}
.nav-link {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  position: relative;
}
.nav-links {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-decoration: none;
  color: #343434;
}

/**********************************************************banner******************************************/
#banner {
  background: url("images/interiorback.JPG") no-repeat;
  background-position: left;
  /* background-size: 110%; */
  height: 85vmin;
  background-size: 72vw;
  background-position-x: 0.4em;
  text-align: right;
  padding: 6em 6.5em 0 0;
}
h1 {
  font-family: "Crimson Text", serif;
  color: #343434;
  font-weight: normal;
  font-size: 4.3rem;
  line-height: 1.1em;
}

h1 span {
  display: block;
}

#banner p {
  letter-spacing: 5.8px;
  text-transform: uppercase;
  padding: 2em 0;
}

#banner a {
  text-decoration: none;
  color: #343434;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  position: relative;
}

#banner a::before {
  content: "";
  position: absolute;
  width: 6.5em;
  height: 2px;
  background-color: #d5b641;
  top: 2em;
}
/***************************************About us*******************************************/
#about-us {
  display: flex;
  margin: 3em auto auto 2em;
  color: #343434;
}
#about-des {
  width: 90%;
}
#about-des p:first-child {
  color: #d5b641;
}
#about-des p:last-child {
  line-height: 2em;
  letter-spacing: 3px;
}
#about-img img {
  width: 100%;
}

h2 span {
  display: block;
}
.burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-link {
    width: 45%;
  }
}

/******************************ipad***************************/

@media screen and (max-width: 768px) {
  .nav-link {
    width: 70%;
  }
  #banner {
    background-size: 100%;
    padding: 3em 1em;
  }
  h1 {
    font-size: 3rem;
  }
  #banner p {
    letter-spacing: 3px;
  }
  #about-us {
    display: block;
    margin: 2em;
  }
  #about-des {
    margin: 1em 0;
  }
}

@media screen and (max-width: 575px) {
  html,
  body {
    overflow-x: hidden;
  }
  #navbar {
    height: 10vh;
  }
  .nav-link {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 10vh;
    height: 90vh;
    background-color: #ffd451;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-links {
    color: rgb(70, 69, 69);
    opacity: 0;
  }
  #logo {
    margin: 0 auto;
  }
  #banner {
    background-color: #d1d2d4;
    background-position: 0;
    background-size: 100vh 100vw;
    height: 90vh;
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    padding: 50% 0 0 0;
  }
  #banner a {
    display: block;
    margin-top: 6em;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #d5b641;
    margin: 5px 0;
    border-radius: 0.2em;
    transition: all 0.4s ease;
  }

  #about-us {
    margin: 0.5em auto auto 0.5em;
  }
  #about-des {
    width: 100%;
  }
  #about-des p:last-child {
    line-height: 1.2em;
    letter-spacing: 2px;
  }
  h2 span {
    display: inline;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navFadeIn {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
